/* GENERAL */

body {
	background-image: url("../images/main.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Georgia', Times, Times New Roman, serif;
	text-align: center;
	margin: 0;
	min-height: 100%;
}

html {
	height: 100%;
}

@font-face {
    font-family: 'AutumnInNovember'; /*a name to be used later*/
    src: url('../lib/Autumn in November.ttf'); /*URL to font*/
}

.pdHeader {
	margin: 20px auto;
	width: 70%;
	background-color: white;
	border: 2px solid #0ebfe9;
	border-radius: 5px;
	background-image: url("../images/morocco-blue.png");
}

.outerBorder1 {
	width: 70%;
	position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: 0px;
    transform: translate(-50%, -50%);
    border: 2px solid #0ebfe9;
	border-radius: 5px;
	color: white;
	padding: 30px 0;
	line-height: 20px;
	/*background: #00ff83;*/
	background: #0ebfe9;
}

#planName, #exTitle {
	font-size: 30px;
	font-weight: bold;
	color: #7D26CD;
	border-bottom: 1px solid gray;
	width: 50%;
	height: auto;
	padding: 5px;
	/*letter-spacing: 15px;*/
	margin: 10px auto;
	font-family: "AutumnInNovember";
}

/* CITY AND STATE PAGE - START */

#cities, #states, #endDatePicker, #startDatePicker {
	min-width: 300px;
	width: auto;
	height: 30px;
	border: none;
	border-bottom: 2px solid gray;
	background: none;
	font-size: 20px;
	cursor: pointer;
	outline: none;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.message {
	color: gray;
	font-size:80%;
	display:block;
}

.required {
	color: red;
	font-size:80%;
	display: inline;
}

#cityLabel, #stateLabel, #endDateLabel, #startDateLabel {
	display: inline-block;
	padding-top: 5px;
	text-align: justify;
	margin: 0 30px;
}

.fa-angle-down {
	border-bottom: 2px solid gray;
	color: gray;
	padding-bottom: 7px;
}

.fa-calendar-alt {
	border-bottom: 2px solid gray;
	color: gray;
	padding-bottom: 7px;
}

#outerBorder1 div {
	padding-bottom: 20px;
}

.btn-pri {
	width: auto;
    height: 50px;
    padding: 5px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: #ffffff;
    background-color: #4B0082;
    font-size: 20px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    cursor: pointer;
    margin: 40px 0 10px 0;
}

.dispHide {
	display: none;
}

#stateSelect, #citySelect {
	max-height: 100px;
	overflow: auto;
	background-color: white;
	color: gray;
	position: absolute;
	z-index: 1;
	width: 310px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	/*margin: 0 auto;*/
	/*text-align: justify;*/
}

.liStateSelect:hover, .liCitySelect:hover {
	color: white;
	background-color: #4B0082;
	cursor: pointer;
}

#ulStateSelect, #ulCitySelect {
	padding: 0px 5px;
	margin: 0;
}

#msg {
	font-size: 15px;
	padding: 15px;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

button.ui-button {
	font-size: 10px !important;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

/* CITY AND STATE PAGE - END */

/* EXISTING PLAN DETAILS PAGE - START */

#pdContainer {
	width: 90%;
	min-height: 500px;
	margin: 15px auto;
	height: auto;
	background-color: white;
	border-radius: 5px;
	border: 2px solid #0ebfe9;
	color: black;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.HPTitle {
	font-size: 15px;
	text-align: center;
	width: 100%;
	padding: 0.025px 0;
	position: relative;
	top: 0px;
	/*left: 6.5px;*/
	line-height: 20px;
	background-color: #7D26CD;
	color: white;
	border-bottom: 2px solid black;
}

#breweryInfo, #restaurantInfo, #eventInfo {
	float: left;
	border: 2px solid black;
	min-height: 150px;

}

#breweryInfo {
	width: 26%;
	margin-left: 20px;
}

#weatherInfo {
	float: left;
	width: 42%;
	margin-left: 20px;
	border: 2px solid black;
	min-height: 335px;
}

#eventInfo {
	width: 26%;
}

#restaurantInfo {
	width: 54.5%;
	margin-top: -155px;
}

#planTodo {
	margin: 25px auto;
	width: 95%;
	height: auto;
	min-height: 200px;
}

.infoClass {
	padding: 15px;
	text-align: justify;
}

.ui-dialog {
	top: 50%;
    left: 50%;
    margin-top: 0px;
    margin-left: 0px;
    transform: translate(-50%, -50%);
}

/* EXISTING PLAN DETAILS PAGE - END */

/*Existing Plans Page*/

.pageTitle {
	margin-top: 50px;
	position: fixed;
	left: 40%
}

.landingPgBtn {
	margin: 15px;
	height: 50px;
	width: auto;
}

#existingPlans {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.existingPlanBtn {
	width: auto;
    height: auto;
    padding: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: #ffffff;
    background-color: #4B0082;
    font-size: 20px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    cursor: pointer;
    margin: 40px 5px 10px 5px;
}

/*Existing Plans Page - END*/

/*--------------------------------PlanDetails html CSS starts Here--------------------------------*/

.existing-plan-container {
    display: block;
    width: 100%;
    margin-top: 150px;
}

.ticket-master-header,
.brewery-header,
.weather-header {
    display: block;
    background: #00BCEB;
    padding: 10px;
    font-size: 20px;
}

.concert-data,
.brewery-data {
    display: block;
    text-align: center;
    margin: 15px;
}

.ticket-master-container,
.brewery-container,
.weather-container {
    width: 24%;
    background: #ded5d5;
    height: 304px;
    display: inline-block;
}

.ticket-master-btn {
    background: #005073;
    color: white;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
}

.ticket-master-btn:hover {
    opacity: .7;
}

.resturant-container {
    display: inline-block;
    width: 25%;
    background: #ded5d5;
    height: 304px;
    position: relative;
    top: 56px;
}

.resturant-header {
    display: block;
    background: #00BCEB;
    padding: 10px;
    font-size: 20px;
}

.resturant-name-container {
    display: inline-block;
    width: 25%;
}

.resturant-name-header {
    display: inline-block;
    font-size: 15px;
    margin: 10px;
    font-weight: bold
}

.rating-container {
    display: inline-block;
    width: 25%;
    position: relative;
    top: -104px;
}

.rating-header {
    display: inline-block;
    font-size: 15px;
    margin: 10px;
    font-weight: bold;
}

.rest-rating {
    background-image: url(../images/star.png);
    background-size: cover;
    width: 22%;
    height: 19px;
}

.food-style-container {
    display: inline-block;
    width: 25%;
    position: relative;
    top: -23px;
}

.food-style-cont {
    position: relative;
    top: 10px;
}

.food-style-header {
    display: inline-block;
    font-size: 13px;
    /* width: 58%; */
    /* background: red; */
    font-weight: bold;
}

.food-master-btn {
    background: #005073;
    color: white;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    display: block;
    width: 25%;
    margin: auto;
    position: relative;
    top: -58px;
/*    margin-top: 47px;*/
}

.food-master-btn:hover {
    opacity: .7;
}

.rest-rating {
    display: block;
}

.food-style-content {
    display: inline-block;
}

.weather-container {
    position: relative;
    top: -70px;
}

.weather-data {
    display: block;
    text-align: center;
    margin: 15px;
}


/*--------------------------------PlanDetails html CSS ends Here--------------------------------*/


/* INDEX */

#menu {
	float: right;
	margin-top: 5px;
	margin-right: -200px; 
	cursor: pointer;
	height: 80px;
	width: 80px;
	border: 0px solid red;
	font-size: 50px;
	color: white;
}